* {
    box-sizing: border-box;
}


body {
    font-family: 'Press Start 2P', cursive, sans-serif;
    height: 100%;
    width: fit-content;
    object-fit: contain;
    background-image: url('https://thumbs.gfycat.com/TimelySadDiplodocus-size_restricted.gif');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

h1 {
    font-size: 50px;
    margin: 0;
    color: blue;
}

p {
    font-size: 20px;
    margin: 0;
    color: white;
}

h2 {
    color: red;
    margin: 0;
}

#spaceman {
    width: 300px;
    /* width of each "frame" of the image */
    height: 300px;
    /* height of the image */
    background-image: url(../imgs/spaceman-filmstrip.png);
    transform: scale(.5);
    /* scale the side of the element as desired */
}

#wordGuess {
    display: flex;
    justify-content: space-evenly;
    color: white;
    width: 75vw;
    font-size: 3em;
}

#wordGuess>div {
    font-size: 60%;
    border-bottom: 5px solid white;
    width: 50px;
}


#letters {
    margin: 0%;
}

.playAgain {
    border: 1px solid white;
}


#board {
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.correct {
    background-color: rgb(170, 109, 29);
}

.wrong {
    background-color: red;
}